apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-txsvasvs
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-txsvasvs:9d2c9edaca02303f775c360775a3eab016f9e412@sha256:11babad5ba45733bf7cfe9f29673caa77d6e98d9a5c45c6a525f406027b891ae
          name: container-image
